

<div class="text-center">
    <p>Задания: </p>
    <p>1)Даны три действительных числа. выбрать из них те, которые принадлежат полуинтервалу (-3, 9].</p>
    <p>2)Дано предложение, в котором имеется несколько букв я. Найти: а) порядковый номер первой из них; б) порядковый номер последней из них.</p>
    <p>3)Задан одномерный массив А[1..20]. Просуммировать все неотрицательные элементы, стоящие на четных местах.</p>
</div>