<form method="post">
    <p>Первое число:</p>
    <p>
        <input type="text" name="firstTextBox"/>
    </p>
    <p>Второе число:</p>
    <p>
        <input type="text" name="secondTextBox"/>
    </p>
    <p>Третье число:</p>
    <p>
        <input type="text" name="thirdTextBox"/>
    </p>
    <p>
        <input type="submit"/>
    </p>
    <p>@ViewBag.result</p>
</form>